[mysqld]
skip-host-cache
skip-name-resolve
default-storage-engine=InnoDB
innodb_file_per_table
innodb_buffer_pool_size=512M
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
optimizer-switch=block_nested_loop=off
sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

server-id=3
log-bin='binlog'
binlog_format='ROW'
enforce-gtid-consistency='ON'
log-slave-updates='ON'
gtid-mode='ON'
transaction-write-set-extraction='XXHASH64'
binlog-checksum='NONE'
master-info-repository='TABLE'
relay-log-info-repository='TABLE'
plugin-load='group_replication.so'
relay-log-recovery='ON'
group-replication-start-on-boot='OFF'
group-replication-group-name='aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee'
group-replication-local-address="node3:33061"
group-replication-group-seeds='node1:33061,node2:33061,node3:33061'
loose-group-replication-single-primary-mode='OFF'
loose-group-replication-enforce-update-everywhere-checks='ON'


[mysqldump]
max-allowed-packet=512M
